* {
	cursor: url(https://cur.cursors-4u.net/symbols/sym-2/sym101.cur), auto !important;
}

body {
	background-color: #F7F7F2;
	background-image: url("pics/bg.png");
	background-position: center;
	background-size: cover;
	display: flex;
	flex-direction: column;
	font-size: 18px;
	line-height: 1.4;
	margin: 0;
	min-height: 100vh;
	padding: 1em;
	text-align: justify;
}

h1, h2, h3, h4, h5, h6 {
	color: #DB261E;
}

h1 {
	background-color: black;
	color: white;
	letter-spacing: 0.6em;
}

.u-wrapper {
	background-color: #E4E6C3;
	border: none !important;
	box-shadow: 10px 10px #DB261E;
	margin: auto;
	max-width: 42rem;
	padding: 3%;
	text-align: center;
	flex-grow: 1;
}

.u-padding {
	padding: 0 1rem;
}

table {
	margin-right: auto;
	margin-left: auto;
}

img {
	max-width: 100%;
}

td img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

img.social {
	max-height:60px;
}

a:link {
	text-decoration: none;
}

.stand {
	margin-right: initial;
}
